body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 1200px;
    display: flex;
    justify-content: center;
}

.product-section {
    display: flex;
    padding: 20px;
}

.product-images {
    width: 700px;
}

.main-image-container {
    width: 400px;
    position: relative;
    overflow: hidden;
}

.main-image {
    width: 400px;
    transition: transform 0.2s ease;
}

.zoom-lens {
    position: absolute;
    width: 1px;
    height: 1px;
    display: none;
}

/* 缩略图 */
.thumbnail-images {
    width: 170px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}

.thumbnail-images img {
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail-images img:hover {
    transform: scale(1.1);
}



/* 商品详细信息 */
.product-details {
    width: 320px;
    margin-left: 20px;
}

.product-details h1 {
    font-size: 24px;
    margin-top: 20px;
}

.color-options {
    margin-bottom: 20px;
}

.price {
    font-size: 24px;
    margin: 20px 0;
}

.quantity {
    display: flex;
    margin-left: 105px;
    margin-bottom: 20px;
}

.quantity button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: 1px solid #ccc;
    background: none;
    cursor: pointer;
}

.quantity input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.quantity-bar input {
    width: 40px;
    text-align: center;
    border: 1px solid #ccc;
    margin: 0 5px;
}

.shipping-info {
    margin-bottom: 20px;
}

.shipping-info select,
.shipping-info input {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
}

.shipping-info button.select-address {
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
}

.cart-count {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    background-color: black;
    color: white;
}

.reviews-section {
    padding: 20px;
}

.reviews-section h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.review {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;

}

.review-details p {
    margin: 5px 0;
}


.recommended-products {
    padding: 20px;
}

.recommended-products h2 {
    font-size: 22px;
    margin-bottom: 10px;
}

.recommended-item {
    display: inline-block;
    width: 22%;
    text-align: center;
    margin-right: 3%;
    margin-bottom: 40px;
}

.recommended-item img {
    width: 100%;
    transition: transform 0.2s ease;
}

/* 吸底 */
.fixed-purchase-bar {
    position: fixed;
    bottom: 0;
    margin: auto;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    display: none;
    align-items: center;
    justify-content: space-between;
}

.fixed-purchase-bar .purchase-bar-details,
.fixed-purchase-bar .purchase-bar-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;

}

.fixed-purchase-bar .purchase-bar-buttons .add-to-cart-bar {
    margin-right: 10px;
    /* 按钮之间的间距 */
}

.fixed-purchase-bar .purchase-bar-buttons .buy-now-bar {
    margin-left: 10px;
    /* 按钮之间的间距 */
}

.fixed-purchase-bar select {
    margin: 0 10px;
}