/* 导航 */
.navbar {
    background-color: #333;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: block;
}

.navbar-links a:hover {
    color: #b8b6b6;
    border-radius: 4px;
}


/*头部样式*/
.header {
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    top: 45px;
    font-size: 16px;
    position: relative;
}

.wrap {
    width: 1250px;
    margin: 0 auto;
    position: relative;
}

/* logo */
.logo {
    position: absolute;
    top: 0;
    left: 20px;
}

.logo img {
    height: 80px;
    width: auto;
    display: block;
    margin-top: 12px;
}

/* 搜索框 */
.search {
    position: absolute;
    top: 0;
    left: 150px;
    width: 600px;
    height: 100px;
    padding: 20px;
}

.form {
    position: absolute;
    margin-left: 80px;
    top: 23px;
    width: 600px;
    height: 40px;
    border: 3px solid #3a0070;
    background: #fff;
    margin-top: 12px;
}

.form button {
    position: absolute;
    right: 0;
    width: 70px;
    height: 40px;
    line-height: 32px;
    border: none;
    background-color: #3a0070;
    font-size: 25px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.button-icon {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #3a0070;
    border: none;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    /* 使文字垂直居中 */
}

.button-icon .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 将图标居中 */
    font-size: 26px;
    /* 调整图标大小 */
}

.from-t {
    width: calc(100% - 90px);
    height: 33px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    line-height: 26px;
    font-size: 17px;
    color: #333;
    outline: none;
}

/* 搜索热词样式 */
.hotwords {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    /* 调整与搜索框之间的间距 */
    text-align: left;
    /* 左对齐热词 */
}

.hotwords li {
    display: inline-block;
    margin-right: 25px;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
    transition: background-color 0.3s;
    /* 添加颜色过渡效果 */
}

.hotwords li a {
    color: #3a0070;
}

.hotwords li:hover {
    background-color: #f0f0f0;
    /* 鼠标悬停时的背景颜色 */
}

/* 登录按钮 */
.login {
    position: absolute;
    top: 0;
    margin-left: 890px;
    margin-top: 40px;
}


/* button {
    height: 60px;
    padding: 0 50px;
} */

.login button {
    width: 90px;
    height: 50px;
    padding: 0;
    background-color: #3a0070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

/* 登录按钮悬停样式 */
.login button:hover {
    background-color: #e2e1e1;
    color: #3a0070;
}

/* 登录界面 */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.login-form {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
}

h2 {
    margin-bottom: 20px;
}

.split-line {
    width: 100%;
    height: 2px;
    margin-bottom: 30px;
    background-color: #3a0070;
}

.login-content {
    display: none;
    flex-direction: column;
    align-items: center;
}

.login-content.active {
    display: flex;
}

.modal input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button-container button {
    padding: 10px 20px;
    border: none;
    background-color: #3a0070;
    color: #fff;
    cursor: pointer;
    width: 40%;
}

/* 购物车 */
.cart a {
    position: absolute;
    width: 90px;
    height: 50px;
    top: 20px;
    left: 1000px;
    margin-top: 20px;
    background-color: #3a0070;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.cart :hover {
    background-color: #e2e1e1;
    color: #3a0070;
}

.cart .iconfont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* 将图标居中 */
    font-size: 13px;
    /* 调整图标大小 */
}

/* 购物车列表 */
.cart-list {
    display: none;
    position: absolute;
    top: 120px;
    left: 800px;
    width: 316px;
    height: 100px;
    overflow: hidden;
    line-height: 100px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .15);
    transition: all .3s;
    z-index: 999;
    /* 设置购物车列表的 z-index 值为较高的数值 */
}

.cart:hover>.cart-list {
    display: block;
}

/* 用户 */
.user {
    position: absolute;
    /* top: 0; */
    left: 1120px;
    margin-top: 30px;

}

.user img {
    height: 60px;
    border-radius: 50%;
}

/* 时钟 */
.timeblock {
    width: 270px;
    height: 30px;
    position: absolute;
    left: 850px;
    top: 95px;

}

/* 轮播图 */
#carousel-container {
    position: relative;
    overflow: hidden;
    top: 20px;
    width: 100%;
    /* 设置最大宽度 */
    height: 500px;
    /* 设置图片容器的高度 */
}

#carousel-container img {
    position: absolute;
    width: 100%;
    max-height: 600px;
    top: 35px;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carousel-button {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev-button {
    left: 10px;
}

.next-button {
    right: 10px;
}

.dots-container {
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.dot {
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
}

.dot.active {
    background-color: rgba(58, 0, 112, 0.8);
}

.hot h1 {
    font-size: 36px;
    margin-top: 50px;
    color: #ffffff;
    background-color: #3a0070;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* 商品分类 */
.select {
    position: relative;
    top: 40px;
    width: 100%;
    height: 10px;
}

.category h1 {
    font-size: 22px;
    /* margin-bottom: 20px; */
}

.product-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.product-item {
    width: 23%;
    margin: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
}

.product-item:hover {
    transform: scale(1.05);
}

.product-item img {
    max-width: 100%;
    height: auto;
    display: block;
}

.product-item p {
    font-size: 22px;
    margin: 10px 0;
    color: #3a0070
}

.product-item h1 {
    color: #3a0070;
    font-size: 28px;
    margin: 10px 0;
}

/* 底部 */
.footer-container {
    margin-top: 2300px;
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-section {
    flex: 1;
    padding: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-section p,
.footer-section ul {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #fff;
    /* 设置链接字体颜色为白色 */
    text-decoration: none;
    /* 去掉链接下划线 */
    transition: color 0.3s;
    /* 添加过渡效果 */
}

.footer-section ul li a:hover {
    color: #ddd;
    /* 设置鼠标悬停时的链接字体颜色 */
}

.footer-section ul li i {
    margin-right: 10px;
}

.bottom p {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #e6e6e6;
    margin: 0;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin-bottom: 20px;
    }
}