 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     background-color: #f5f5f5;
 }

 header {
     background-color: #3a0070;
     color: #ffffff;
     padding: 20px 0;
     text-align: center;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
 }

 header h1 {
     margin: 0;
     font-size: 36px;
 }

 /* 商品分类 */
 .select {
     position: relative;
     top: 40px;
     width: 100%;
     height: 10px;
 }

 .category h1 {
     font-size: 22px;
     /* margin-bottom: 20px; */
 }

 .product-list {
     list-style: none;
     padding: 0;
     display: flex;
     flex-wrap: wrap;
 }

 .product-item {
     width: 23%;
     margin: 50px;
     background-color: #f0f0f0;
     border: 1px solid #ccc;
     border-radius: 10px;
     overflow: hidden;
     text-align: center;
     padding: 10px;
     transition: transform 0.3s;
 }

 .product-item:hover {
     transform: scale(1.05);
 }

 .product-item img {
     max-width: 100%;
     height: auto;
     display: block;
 }

 .product-item p {
     font-size: 22px;
     margin: 10px 0;
     color: #3a0070
 }

 .product-item h1 {
     color: #3a0070;
     font-size: 28px;
     margin: 10px 0;
 }

 footer {
     margin-top: 5450px;
     background-color: #3a0070;
     color: #ffffff;
     padding: 20px 0;
     text-align: center;
     box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
 }

 footer p {
     margin: 0;
     font-size: 14px;
 }